@font-face {
font-family: 'agatho'; /* Name you'll use in CSS */
src: url('../public/fonts/Agatho_Regular.otf') format('otf');
font-weight: normal;
font-style: normal;
}

@font-face { font-family: 'roundark';
  src: url('../public/fonts/Roundark.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.booking-main{
  background-color: #918A43;
  padding: 2rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: agatho;
  margin-bottom: 4rem;

}

@media (max-width: 769px) {
  .booking-main{
   margin-bottom: 2rem; 
  }
}


.booking-heading{
  color: #FFF5CA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;


  >h1{
    font-size: 3rem;
    font-style: agatho;
  }
}


@media (max-width: 769px) {
  .booking-heading{
   margin-top:0;
   margin-bottom: 0;

   >h1{
     font-size: 2rem;
   }
  }
}


.booking-des{
  color: #FFF5CA;
  width: 70%;
  >p{
    font-size: 1.6rem;
    text-align: center;
    line-height: 1em;
    padding-top: 1rem;
    margin-bottom: 1rem;
  
  }
}

@media (max-width: 769px) {
  .booking-des{
   width: 100%;

   >p{
     font-size: 1rem;
   }
  }
}

.booking-form{
  margin-top: 2rem;
  padding: 2rem;
  background-color: #fff5ca;
  color: #918A43;
  border-radius: 10px;
  width: 70%;
}

@media (max-width: 769px) {
  .booking-form{
   width: 100%;
  }
}




.booking-pref{
  width: 100%;
  height: 2rem;
  background-color: #918a43;
  color: #F5E6B3;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.booking-calendar {
  .rdp {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #918a43;
    --rdp-background-color: #f5e6b3;
    --rdp-accent-color-dark: #5A7C8A;
    --rdp-background-color-dark: #f5e6b3;
    --rdp-outline: 2px solid var(--rdp-accent-color);
    --rdp-outline-selected: 3px solid var(--rdp-accent-color);
    margin: 0 auto;
    padding: 1rem;
  }

  .rdp-day_selected {
    background-color: #918a43 !important;
    color: #f5e6b3 !important;
  }

  .rdp-day:hover:not([disabled]) {
    background-color: #918a43;
    color: #f5e6b3;
  }
}

.booking-time {
  .time-slot-button {
    font-family: agatho;
  }
}
