.header{
  min-height: 80px;
  max-height: 1052px;
  background-color: #918A43;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  
}

.header-logo{
  width: 140px;
}
